version: '3.8'

services:
  fastwhisper_service:
    image: fastwhisper_service
    volumes:
      - /home/ubuntu/projects/bucket:/app/bucket
      - /home/ubuntu/projects/whisper_service:/app
    ports:
      - "1234:1234"
    networks:
      - mynetwork
    working_dir: /app
    # Command to keep the container running indefinitely
    command: ["uvicorn", "fast:app", "--host", "0.0.0.0", "--port", "1234"] 

networks:
  mynetwork:
    external: true

