version: '3.8'

services:
  fastwhisper_service:
    image: fastwhisper_service
    volumes:
      - /home/ubuntu/projects/bucket:/app/bucket
      - /home/ubuntu/projects/whisper_service:/app
    ports:
      - "1234:1234"
    networks:
      - mynetwork
    # Command to keep the container running indefinitely
    command: ["sleep", "infinity"]

networks:
  mynetwork:
    external: true

